{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>COMESANO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">COMESANO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about/">Acerca de Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas/">Recetas</a>
            </li>

            {% if user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link" href="/mis_recetas/">Administrar Recetas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'mensaje-list' %}">Mensajes</a>
            </li>
            
            {% endif %}
</ul>
<ul class="navbar-nav ms-auto">

  

            
            {% if user.is_authenticated %}
            
            {% if user.profile %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile-update' user.profile.id %}">editar Perfil</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile-create' %}">Crear Perfil</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} | Salir</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Registro</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
            </li>
          {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="bg-light py-3">
      <div class="container">
        <p class="text-center">&copy; 2023 Comasano. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>