{% extends 'base.html' %}

{% block content %}

<div class="hero">
    <div class="container py-5 text-center">
        <h1>Bienvenido a Comesano</h1>
        <p>Bienvenidos a nuestra página web de recetas vegetarianas y light, 
            donde encontrarás una gran variedad de opciones deliciosas y saludables para incluir en tu dieta.
            Aquí podrás explorar platillos vegetarianos y bajos en calorías que te ayudarán a mantener una alimentación equilibrada sin sacrificar el sabor. Nuestro objetivo es compartir contigo recetas fáciles de preparar y con ingredientes accesibles para que puedas disfrutar de una alimentación saludable y sabrosa. 
            ¡Comencemos a explorar juntos!</p>
    </div>
  </div>
 
{% endblock %}